
#SecondPane {
    -fx-background-color: #044675;
}

#FirstPane {
    -fx-background-color: #568fb8;
}

#FourthPane {
    -fx-background-color: #044675;
}

#Third-Pane {
    -fx-background-color: #044675;
}

#Terminos {
    -fx-background-color: #044675;
}

#Scroll{
    -fx-background-color: #568fb8;
}